@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

body {
  background-color: #f0f0f0;
  font-family: "Roboto Slab", serif;
  overflow-y: hidden;
}

.container h1 {
font-size: 3.5rem;
    margin: 10px 0;
    font-family: "Roboto Slab", serif;
    color: #12486b;
    text-decoration: bold;
    margin-left: 500px;
}

details {
  background-color: #e0eeec;
  color: #0f1012;
  font-size: 1.1rem;
  width: 600px;
  margin-left: 800px;
}
.con {
  margin-top: -500px;
}

summary {
  padding: 0.5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: height 1s ease;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: "\002B";
}

details[open] summary {
  border-bottom: 1px solid #150972;
  margin-bottom: 0.5em;
}

details[open] summary:after {
  content: "\00D7";
}

details[open] div {
  padding: 0.5em 1em;
}

.images {
  width: 700px;
  height: 600px;
  margin-left: 900x;
  margin-top: -50px;
}

/* .iframe-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
} */
