.body {
  background-color: #f5fccd;
}

.layout {
  width: 100%;

  display: flex;
  gap: 16px;

  justify-content: space-evenly;
  align-items: center;
  font-family: "Roboto Slab", serif;
}

.left {
  margin-top: 10%;
}

.right {
  margin-left: 5%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20%;
  margin-top: 0%;
}

.image {
  height: 620px;
}

.landing-title-container {
  margin-top: -25%;
}

.landing-title {
  margin-top: -10%;
  margin-left: 20%;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  padding: 20px;
  color: #12486b;
  border-radius: 10px;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  */
  margin: 20px 0;
  max-width: 80%;
  margin: 0 auto;
  animation: fadeIn 2s ease-in-out;
}

.landing-title span {
  background-color: #78d6c6;
  padding: 0 1%;
  border-radius: 5%;
}

.landing-title-desc {
  margin-left: 10%;
  margin-bottom: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* button style */
.buttons-container {
  margin-left: 10%;
  margin-bottom: 20px;
}

.cta {
  display: flex;
  padding: 11px 33px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: white;
  background: #78d6c6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
  margin-top: 10%;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #12486b;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(15deg);
  /* font-family: "Roboto Slab", serif; */
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #12486b;
  }

  100% {
    fill: white;
  }
}

/* Navigation style */
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5fccd;
  padding: 10px 20px;
  margin: 0 5%;
}

.logo-container img {
  height: 50px;
  width: 50px;
  border-radius: 10%;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  padding: 0 20px;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

li:hover {
  cursor: pointer;
  color: #12486b;
}
