.layout {
  width: 100%;

  display: flex;
  gap: 16px;

  justify-content: space-evenly;
  align-items: center;
}

.left {

}

.right {
  margin-left: auto;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20%;
}

.landing-title {
  margin-top: -40%;
  margin-left: 20%;
  font-size: 36px; /* Adjust the font size as needed */
  font-weight: bold;
  text-align: center; /* Center the text horizontally */
  padding: 20px; /* Add padding for spacing */
  background-color: #1abc9c; /* Background color */
  color: #fff; /* Text color */
  border-radius: 10px; /* Rounded corners for a modern look */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
  margin: 20px 0; /* Margin for spacing */
  max-width: 80%; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the element horizontally */
  animation: fadeIn 2s ease-in-out; 
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
